@model MVCApp.ViewModels.SortedDataViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div>
    <h4>SortedDataModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortedNumberSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortedNumberSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeElapsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeElapsed)
        </dd>
    </dl>
    
    <a asp-action="ViewSequences">Back to List</a>
</div>
